.btn--facebook {
  background-color: #3a5795; }

.btn--twitter {
  background-color: #55acee; }

.btn--Ig {
  background-color: #ee5293; }

.boton, .boton--aceptar, .boton--cancelar {
  width: 200px;
  height: 50px;
  background-color: #F9F8EB;
  text-align: center;
  color: black;
  border-radius: 20px;
  border: solid black 2px; }

.boton--aceptar {
  background-color: #346751;
  color: yellow; }

.boton--cancelar {
  background-color: red;
  color: yellow; }

.box {
  height: 50px;
  width: 70px; }

.fondoweb {
  background-color: #808080; }

/* h1 */
.h1 {
  background-color: #FF8C00;
  text-align: left;
  text-decoration: dashed;
  color: aliceblue;
  font-style: italic;
  border: solid black 2px;
  border-radius: 2px;
  margin: 10px;
  font-weight: bolder;
  font-family: 'Bebas Neue', cursive;
  font-size: 50PX; }

/* h2 */
.h2 {
  color: aliceblue;
  font-style: italic;
  text-shadow: 0 0 3px black, 0 0 5px black;
  background-color: #FF8C00;
  border-radius: 10px;
  font-family: 'Bebas Neue', cursive; }

/* h3 */
.h3 {
  background-color: #808080;
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  font-style: italic;
  border-radius: 10px;
  margin: 10px;
  font-family: 'Bebas Neue', cursive; }

/* h4 */
h4 {
  text-align: center;
  color: aliceblue;
  font-style: italic;
  text-shadow: 0 0 3px black, 0 0 5px black;
  background-color: #F9F8EB;
  border: solid black 10px;
  border-radius: 10px; }

.tabla {
  border: solid black 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0%;
  background-color: aliceblue; }

th {
  border: solid black 5px; }

tr {
  border: solid black 4px; }

.amenu {
  border: solid black 5px;
  color: aliceblue;
  text-decoration: white;
  font-weight: bolder;
  border-radius: 10px;
  text-decoration-color: #F9F8EB;
  background-color: #FF8C00;
  font-weight: bolder; }

.nav1 {
  background-color: black;
  border: solid black 5px;
  border-radius: 0px;
  color: #F9F8EB;
  text-decoration: white;
  text-overflow: ellipsis;
  margin: 0%; }

.nav2 {
  background-color: black;
  border: solid black 5px;
  border-radius: 0px;
  color: #F9F8EB;
  text-decoration: white;
  text-overflow: ellipsis;
  margin: 0%; }

img {
  margin: 0;
  padding: 0; }

.imagen {
  align-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px; }

.borde {
  border: solid black 5px; }

.divborde {
  border: black 10px;
  border-radius: 10px;
  background-color: #FF8C00;
  padding: 5px;
  border-style: groove; }

.a2 {
  text-decoration: none;
  color: aliceblue; }

.botonb {
  border: solid black 5px;
  color: black;
  border-radius: 10px;
  background-color: #FF8C00; }

.iconos {
  height: 20px;
  width: 20px; }

aside {
  background-color: #000000; }

.paside {
  background-color: #808080;
  color: #F9F8EB; }

ul li a:hover {
  background-color: #FF8C00;
  border-radius: 2px; }

div h1 a:hover {
  color: #ECDBBA; }
